{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "ESI Lessee" %}{% endblock %}

{% block breadcrumb_nav %}
  <ol class="breadcrumb">
    <li>{% trans "Project" %}</li>
    <li>{% trans "ESI" %}</li>
    <li>{% trans "Nodes" %}</li>
  </ol>
{% endblock %}

{% block page_header %}
  <hz-page-header
    header="{$ 'Node Info' | translate $}">
  </hz-page-header>
{% endblock page_header %}

{% block main %}
  <ng-include src="'{{ STATIC_URL }}dashboard/project/esi/nodes.html'">
  </ng-include>
{% endblock %}
